<!DOCTYPE html>
<html lang="ch-ZN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/60rzvvbj.ico">
    <title>图的可视化</title>
</head>

<body>
    <div class="submitTips">
        <div class="photo"></div>
        <div class="tipsText">成功</div>
        <div class="yes">OK</div>
    </div>
    <div class="main">
        <input type="file" name="testfile" id="c" accept=".ycx">
        <div class="selectBox"><span>＋</span>选择文件</div>
        <div class="submit">解析</div>
    </div>
    <div class="view">
        <div class="nowNodeMessage">
            <p>当前节点</p>
            <div class="nowNode"></div>
            <p>相邻节点</p>
            <ul></ul>
        </div>
        <div class="routeBox">
            <p>通路</p>
            <ul></ul>
        </div>
        <div class="route">
            <p></p>
            <ul></ul>
        </div>
    </div>
    <script src="js/concise.js"></script>
    <script src="js/toolFunction.js"></script>
    <script src="js/toolClass.js"></script>
    <script src="js/index.js"></script>
</body>

</html>